:host {
  display: block;
  padding-top: 110px;
}

.layout {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 230px;
  margin: 20px;
}

.sidebar-header {
  background-color: #e0ffff;
  color: #000000;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar-menu {
  background: #98c3ff;
  margin-top: 5px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.sidebar-item {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.sidebar-item:hover {
  background-color: #e0e0e0;
}

.sidebar-total {
  padding: 12px;
  font-weight: bold;
  background: #a6e7ff;
}

.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
  flex: 1;
}

.product-card {
  width: 250px;
  background-color: #a8cdff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.available {
  color: green;
  font-weight: bold;
}

.out {
  color: red;
  font-weight: bold;
}

.product-card button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: darkblue;
}

.product-card button:disabled {
  background-color: gray;
  cursor: not-allowed;
}