.navbar {
    background: linear-gradient(to right, #ff9ec4, #ff0000);
    padding: 20px;
    text-align: center;
  
    position: fixed;
    top: 0;
    width: 100%;
  
    color: white;
    font-size: 24px;
  }