.navbar {
    background: linear-gradient(to right, #00008b , #ff0000);
    padding: 20px;
    text-align: center;
  
    position: fixed;
    top: 0;
    width: 100%;
  
    color: #F9FAFB;
    font-size: 24px;
  }