.navbar {
  background-color: navy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.nav-center {
  flex: 1;
  text-align: center;
}

.logo {
  color: red;
  margin: 0;
}

.nav-right button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  background-color: #F3F4F6;
  border-radius: 5px;
  cursor: pointer;
}

.nav-right button:hover {
  background-color: lightgray;
}